.update-cert-updated-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    z-index: 1000;
}

.update-cert-updated-modal {
    background: #f2f2f2;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    width: 50%;
    max-width: 500px;
    height: 500px;
    min-height: 500px;
    max-height: 525px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.update-cert-updated-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    font-family: Arial;
}

.update-cert-updated-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    flex: 1;
    text-align: left;
    font-family: Arial;
}

.update-cert-updated-close {
    background: none;
    color: #ADADAD;
    border: none;
    font-size: 20px;
    width: 5%;
    font-weight: bold;
    cursor: pointer;
}

/* Increase size of form fields */
.update-cert-updated-group {
    margin-bottom: 10px;
    padding: 20px 0;
    background-color: white;
    border-radius: 5px;
}

.update-cert-updated-group-top {
    margin-bottom: 10px;
    padding: 20px 0;
    background-color: white;
    border-radius: 5px;
}

.update-cert-updated-label-file-name {
    display: block;
    font-size: 12px;
    font-family: Arial;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.update-cert-updated-label-file-name-top {
    display: block;
    font-size: 14px;
    font-family: Arial;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.update-cert-updated-label {
    display: block;
    font-size: 16px;
    font-family: Arial;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

@media (max-width: 600px) {
    .update-cert-updated-modal {
        width: 90%;
        max-width: none;
        min-height: 70%;
    }
}

.update-cert-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.update-cert-scroll-area {
    flex: 1;
    /* takes remaining space */
    overflow-y: auto;
    /* enables vertical scroll */
    padding-right: 6px;
    /* avoids scrollbar overlap */
}

/* optional: nicer scrollbar behavior */
.update-cert-scroll-area::-webkit-scrollbar {
    width: 6px;
}

.update-cert-scroll-area::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 4px;
}

.update-cert-updated-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.update-cert-updated-side {
    margin-bottom: 10px;
    padding: 20px 0;
    background-color: white;
    border-radius: 5px;
    flex: 1;
}

.update-cert-updated-select-container {
    position: relative;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}

.update-cert-updated-select-container::after {
    content: '';
    position: absolute;
    right: 10px;
    font-family: Arial;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #777;
    pointer-events: none;
}