.note-table-group {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 250px;
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.note-header {
    font-size: 19px;
    font-family: Arial;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    flex-shrink: 0;
}

.note-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.note-text {
    display: block;
    font-size: 16px;
    font-family: Arial;
    font-weight: 500;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
}